<div class= "mx-auto text-center form">
  <%= simple_form_for @tweet do |form| %>
    <hr />
    <%= form.rich_text_area :body, :placeholder => " What's Happening?", :rows => 2, style: 'width:100%; overflow:hidden;' %>
    <hr />
    <%= form.submit 'Tweet', :class => "btn btn-outline-primary rounded-pill text-center tweet-button", remote: true %>
  <% end %>
</div>