<div class="container_login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <% unless user_signed_in? %>
          <%= render 'devise/sessions/form' %>
        <% end %>
      </div>
      <br>
      <br>
      <div class="col-lg-6">
      	<h1>Latest Tweets <i class="fas fa-feather-alt"></i></h1>
        <%= render 'shared/latest_tweets' %>
      </div>
    </div>
  </div>
</div>
